{{define "add"}}
    <!doctype html>
    <html lang="en">
    <body>
    {{template "header"}}
        <form method="POST">
            <input type="text" placeholder="Input original lyrics one line" required name="lyricsData" />
            <button>add</button>
        </form>
    </body>
    </html>
{{end}}